@import "../_base"

.header
	background-color red
	color white

.admin-content
	margin-top 30px
	background-color #FFF
	border 1px solid #DDD
	border-radius 5px
	box-shadow 2px 2px 2px #CCC

.text-right
	text-align right

.post
	border-left 1px solid #DDD
	padding 0 10px

.post-options
	padding 10px

.btn
	display inline-block
	padding 10px
	color #FFF
	background-color #FFF
	border 1px solid

.btn--danger
	background-color red

.btn--success
	background-color green
