extends layout/base

block style
	link(href="/build/stylesheets/admin.min.css", rel="stylesheet", type="text/css")

block body

	header.header
		div.row.content-large
			div.column.column-large-4
				a.title(href="/admin") Admin do blog

			div.column.column-large-7
				a(href="#") Posts
				a(href="#") Accounts
				
			div.column.column-large-1
				a(href="#") Logout

		
	section.row.content-large.admin-content
		div.column.column-large-4
			h3.h3 Latest posts
			ul
				li
					a(href="#") Post 03
				li
					a(href="#") Post 02
				li
					a(href="#") Post 01

		div.column.column-large-8.post
			form(action="/admin/post", method="POST")
				div.post-options.text-right
					button.btn.btn--danger(type="button") Cancel
					button.btn.btn--success(type="submit") Save

				div.post-content
					div.form-control
						input.input(type="text", placeholder="Title")
					div.form-control
						textarea.input(type="text", placeholder="Your text here...")

