extends layout/base.jade

block style
	link(href="/build/stylesheets/blog.min.css", rel="stylesheet", type="text/css")

block script
	script(src="/build/javascripts/script.min.js")

block body
	h1 Olá
