extends layout/base.jade

block style
	link(href="/build/stylesheets/blog.min.css", rel="stylesheet", type="text/css")

block script
	script(src="/build/javascripts/script.min.js")

block body
	include ./header.jade

	h1 Olá

	canvas(width="420", height="150", style="border: 1px solid black")
