extends layout/base.jade

block style
	link(href="/manifest.json", rel="manifest")
	link(href="/build/stylesheets/blog.min.css", rel="stylesheet", type="text/css")

block script
	script(src="/build/javascripts/script.min.js")

block body
	include ./layout/header.jade

	div.content
		//- List posts
		- for post in posts
			div.post
				h1
					a(href="#{ post.link || '#' }")= post.title
				p.author= post.author
				div= post.content
