@import "../_base"
@import "nav"


.nav
	background theme-color
	color text-color
	line-height 28px
	font-size 24px
	position fixed
	top 0
	width 100%

.nav--btn
	display block
	padding 14px
	text-align center
	height 30px
	position relative

.nav--title
	padding 15px

.content
	padding 63px 5px 5px

.post
	margin-bottom 10px
	padding 10px
	background-color #FFF
	border-radius 3px
	box-shadow 2px 2px 0 #CCC


// Button animate
.nav--animate .mdi
	position absolute
	left 50%
	top 17px
	margin-left -12px
	transition transform 0.2s ease-out

.nav--animate .mdi-menu
	opacity 1
	transform rotate( 0 )

.nav--animate .mdi-arrow-left
	opacity 0
	transform rotate( -145deg )

/*
* Body global classes
*/
body.scrolled .nav
	box-shadow 0 1px 5px #111

body.nav-active .nav--animate .mdi-menu
	opacity 0
	transform rotate( 145deg )

body.nav-active .nav--animate .mdi-arrow-left
	opacity 1
	transform rotate( 0 )

