.form-input
	font-family inherit
	font-size inherit
	font-weight inherit

.editable
	position relative
	border 1px dashed #FFF

	&:hover
		border-color #CCC

.input-editable
	display none
	position absolute
	top 0
	left 0
