.form-input
	font-family inherit
	font-size inherit
	font-weight inherit
	line-height inherit

.editable
	position relative
	z-index 1
	border 1px dashed #FFF

.input-editable
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	resize none
	z-index 2
	border 1px dashed #FFF
	
	&:hover, &:focus
		border-color #CCC