.menu
	position fixed
	top 58px
	bottom 0
	right 0
	z-index 4
	width 100%
	visibility hidden

.menu-content
	position relative
	height 100%
	background-color #fff
	overflow auto
	padding 10px 0

	-webkit-backface-visibility hidden
	backface-visibility hidden
	-webkit-perspective 1000
	perspective 1000
	
	-webkit-transform translateX(-(col-12))
	transform translateX(-(col-12))

	transition transform animation-time ease-out

.menu-background
	position absolute
	width 100%
	height 100%
	background #000
	opacity 0
	transition opacity animation-time linear


.menu--link
	display block
	padding 5px 10px
	text-align center


// Open menu
body.nav-active
	position relative
	overflow hidden

body.nav-active .menu-background
	opacity 0.3

body.nav-active .menu-content
	-webkit-transform translateX(0)
	transform translateX(0)

