@import "_base"
@import "nav"
@import "editable"


.nav
	background theme-color
	color text-color
	line-height 28px
	font-size 20px
	position fixed
	top 0
	width 100%
	z-index 2

.nav--btn
	display block
	padding 14px
	text-align center
	height 30px
	position relative

.nav--title
	padding 15px

.content
	padding 63px 5px 5px

.content-body
	margin-bottom 10px
	padding 10px
	background-color #FFF
	border-radius border-radius
	box-shadow 2px 2px 0 #CCC

.post-content
	margin-top 10px


// Button animate
.nav--animate .mdi
	position absolute
	left 50%
	top 17px
	margin-left -12px
	transition transform 0.2s ease-out

.nav--animate .mdi-menu
	opacity 1
	transform rotate( 0 )

.nav--animate .mdi-arrow-left
	opacity 0
	transform rotate( -145deg )

/*
* Body global classes
*/
body.scrolled .nav
	box-shadow 0 1px 5px #111

body.nav-active .nav--animate .mdi-menu
	opacity 0
	transform rotate( 145deg )

body.nav-active .nav--animate .mdi-arrow-left
	opacity 1
	transform rotate( 0 )


.btn
	display inline-block
	padding 5px
	margin-bottom 5px
	box-shadow 2px 2px 3px #AAA
	border none
	border-radius border-radius
	color text-color
	background-color theme-color

.btn--success
	background-color success-color

.btn--danger
	background-color info-color

.btn-floating
	display block
	padding 10px 14px
	color #FFF
	border-radius 100%
	position fixed
	bottom 10px
	right 10px
	font-size 28px
	
	&:active
		box-shadow 3px 3px 5px #aaa