div#modal-post.modal
	div.modal-top-bar.row.nav
		div.column.column-small-2.column-mid-2
			a.nav--btn.action-trigger.close(href="#", data-modal="modal-post")
				i.mdi.mdi-close
		div.column.column-small-8.column-mid-8
			p.nav--title editar post

		div.column.column-small-2.column-mid-2
			a.nav--btn.action-trigger.close(href="#", data-modal="modal-post")
				i.mdi.mdi-check
