doctype html
html
	head
		title Blog
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet", type="text/css", href="/vendor/mdi/MaterialDesign-Webfont-1.3.41/css/materialdesignicons.min.css")

		block style
	body
		block body

		block script
