doctype html
html
	head
		title Blog
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(href="https://fonts.googleapis.com/css?family=Roboto:400,700", rel="stylesheet", type="text/css")
		link(rel="stylesheet", type="text/css", href="/vendor/mdi/css/materialdesignicons.min.css")

		block style
	body
		block body

		block script
