nav.nav.row
	div.column.column-small-3.column-mid-2.hidden-large
		a(href="#") Show menu

	div.column.column-small-9.column-mid-10.column-large-12
		h2.h2 Blog do Marcelo

	div.menu
		a.nav-link(href="/") Home
		a.nav-link(href="/") About me
