nav.nav.row
	div.column.column-small-2.column-mid-2.hidden-large
		a#show-menu.nav--btn.nav--animate(href="#")
			i.mdi.mdi-menu
			i.mdi.mdi-arrow-left

	div.column.column-small-8.column-mid-8.column-large-12
		p.nav--title Blog do Marcelo

	div.column.column-small-2.column-mid-2.hidden-large
		a.nav--btn(href="#")
			i.mdi.mdi-magnify

div#menu.menu
	div.menu-background(name="menu-bg")
	div.column.column-small-9.column-mid-9.menu-content
		a.menu--link(href="/") Home
		a.menu--link(href="/") About me
